<extend name="Public/base"/>

<block name="style">
    <link rel="stylesheet" href="__CSS__/BeatPicker.min.css"/>
    <script src="__JS__/BeatPicker.min.js"></script>
    <script type="text/javascript" src="__JS__/changeDate.js"></script>
</block>

<block name="body">


    <div style="background: white none repeat scroll 0 0;font-size: 20px;height: 50px;line-height: 50px;padding-left: 35px;width:1000px">
        <div style="float:left;width=500px">
            <p>账户管理 &gt;
                <font color="#0099FF">&nbsp账户列表</font> &gt;
            </p>
        </div>
        <div style="float:left;width:115px;height:45px;border-style:solid;border-width:3px; border-color:#FFFFFF;border-bottom-color:#0099FF">
            <font color="#0099FF">&nbsp添加新账户</font>
        </div>
    </div>


    <div >
        <div >
            <div style="width: 1030px;height: 40px;background-color: #FFFFFF;font-size: 18px;margin-top: 10px;color: #707070;line-height: 40px;"><p>&nbsp&nbsp&nbsp&nbsp添加新账户</p>
            </div>


            <div style="margin-top: 2px;background:#FFFFFF;width:1030px; height:500px;position:relative" id="all">

                <!--   左侧列的div  -->
                <div id="leftpart" style="margin-top:30px;background:#FFFFFF;float:left;margin-left:100px;width:250px; height: 450px;border-style:solid;border-width:2px; border-color:#FFFFFF;">


                    <!--  权限等级说明  这一行标题的div    -->
                    <div style="border-style:solid;border-width:2px; border-color:#FFFFFF;border-bottom-color:#0099FF;width:120px">
                        <font style="font-size:16px;font-weight:bold">
                            &nbsp&nbsp权限等级说明
                        </font>
                    </div>


                    <br>
                    <br>
                    <p>
                        这是不同等级的权限说明
                    </p>
                    <br>
                    <p>
                        这是不同等级的权限说明
                    </p>
                    <br>
                    <p>
                        这是不同等级的权限说明
                    </p>
                    <br>
                    <p>
                        这是不同等级的权限说明
                    </p>

                </div>

                <!--  div实现中间的分割竖线
                <div style="margin-top:80px;background:#C8C8C8;float:left;width:2px; height:350px;overflow:scroll"> </div>
                 -->

                <!--   右侧列的div    -->
                <div id="rightpart" style="margin-top:30px;margin-left:100px;float:left;width:530px; height: 400px">


                    <div style="border-style:solid;border-width:2px; border-color:#FFFFFF;border-bottom-color:#0099FF;width:140px;margin-left:80px">
                        <font style="font-size:16px;font-weight:bold">
                            &nbsp&nbsp新账户信息填写
                        </font>
                    </div>


                    <div>
                        <form name="form1" method="post" action="{:U('admin/Account/newusersave')}">


                            <div>

                                <!--    把姓名文字  和   输入框设置成一行div     -->
                                <div id="name1" style="margin-top:30px;width:530px;height:50px;line-height:50px;">
                                    <!--    姓名div        -->
                                    <div style="width:100px;float:left;text-align:left">
                                        <font style="font-size:15px">姓名：</font>
                                    </div>

                                    <!--    姓名输入框div     -->
                                    <div style="margin-left:30px;width:400px;float:left">
                                        <input type="text" placeholder="请输入使用人姓名" name="user_name">
                                    </div>

                                    <div style="clear:both"></div>

                                </div>

                                <!-- 密码 -->
                                <div style="margin-top:10px;width:530px;height:50px;line-height:50px;">

                                    <div style="width:100px;float:left;text-align:left">
                                        <font style="font-size:15px">密码：</font>
                                    </div>

                                    <div style="margin-left:30px;width:400px;float:left">
                                        <input type="text" placeholder="请输入账户密码" name="user_password">
                                    </div>
                                    <div style="clear:both"></div>

                                </div>

                                <div>


                                    <div style="margin-top:10px;width:530px;height:50px;line-height:50px;">
                                        <!--    部门      -->
                                        <div style="width:100px;float:left;text-align:left">
                                            <font style="font-size:15px">部门：</font>
                                        </div>

                                        <div style="margin-left:30px;width:400px;float:left">
                                            <select name="branch_id">

                                                <option selected="selected" style="display:none">请选择账号的所属部门</option>

                                                <volist name="branchlist" id="vo">
                                                    <option value="{$vo.id}"> {$vo.name}</option>
                                                </volist>
                                            </select>
                                        </div>

                                        <div style="clear:both"></div>

                                    </div>


                                    <!--    权限等级     -->
                                    <!--<div style="margin-top:10px;width:530px;height:50px;line-height:50px;">-->

                                    <!--<div style="width:100px;float:left;text-align:left">-->
                                    <!--<font style="font-size:15px">权限等级：</font>-->
                                    <!--</div>-->

                                    <!--<div style="margin-left:30px;width:400px;float:left">-->
                                    <!--&lt;!&ndash;<input type="text" name="power" placeholder="请输入使用人等级权限">&ndash;&gt;-->
                                    <!--<select name="power">-->
                                    <!--<option selected="selected" style="display:none">请选择使用人等级权限</option>-->
                                    <!--<option value="1">业务</option>-->
                                    <!--<option value="2">财务</option>-->
                                    <!--<option value="3">管理员</option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--<div style="clear:both"></div>-->
                                    <!--</div>-->


                                    <!--    是否经理    -->
                                    <div style="margin-top:10px;width:530px;height:50px;line-height:50px;">

                                        <div style="width:100px;float:left;text-align:left">
                                            <font style="font-size:15px">是否经理：</font>
                                        </div>

                                        <div style="margin-left:30px;width:400px;float:left">
                                            <select name="branch_manager">
                                                <option selected="selected" style="display:none">请选择账户是否为经理</option>
                                                <option value="1">是</option>
                                                <option value="0">否</option>
                                            </select>
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>



                                    <!--手机号-->
                                    <div style="margin-top:10px;width:530px;height:50px;line-height:50px;">

                                        <div style="width:100px;float:left;text-align:left">
                                            <font style="font-size:15px">手机号：</font>
                                        </div>

                                        <div style="margin-left:30px;width:400px;float:left">
                                            <input type="text" placeholder="请输入手机号" name="user_phonenumb">
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>


                                    <!--员工编号-->
                                    <div style="margin-top:10px;width:530px;height:50px;line-height:50px;">

                                        <div style="width:100px;float:left;text-align:left">
                                            <font style="font-size:15px">员工编号：</font>
                                        </div>

                                        <div style="margin-left:30px;width:400px;float:left">
                                            <input type="text" placeholder="请输入员工编号" name="user_num">
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>




                                </div>



                                <div style="float:left">
                                    <!--
                                    <input style="background-color:#00abdf;height:30px;width:50px" type="reset" value="重置">

                                <a href="{:U('admin/Account/userManage')}" >
                                    <input style="background-color:#00abdf;height:30px;width:50px" value="&nbsp&nbsp取消">
                                </a>

                                 <input style="background-color:#00abdf;height:30px;width:50px" type="button" href="{:U('admin/Account/userManage')}" value="取消">

                                -->
                                    <a href="{:U('admin/Account/userManage')}" >
                                        <input style="background-color: white;border: 2px solid #8ccd5a;border-radius: 10px;color: #8ccd5a;cursor: pointer;font-size: 14px;height: 30px;margin: 20px -60px 30px;width: 98px" type="button" href="{:U('admin/Account/userManage')}" value="取消">
                                    </a>

                                </div>

                                <div style="float:left">
                                    <input style="background-color: #8ccd5a;border: 0 none;border-radius: 5px;margin: 20px 100px 30px;width: 98px;font-size: 14px;color: white;height: 30px;width: 100px" type="submit" value="确定">
                                </div>
                        </form>
                    </div>
                </div>


            </div>
            <div style="position: absolute;width: 5px;height: 212px;background-color: red;left: 350px;top: 24px;"></div>
            <div style="position: absolute;width: 5px;height: 188px;background-color: gray;left: 350px;top: 236px;"></div>
        </div>
    </div>
</block>

<block name="script">
    <script><if condition="($Think.request.status neq '') OR ($Think.request.s_time neq '') OR ($Think.request.e_time neq '') ">toggel("reSearchM");<else />toggel("RCsearch");</if></script>
</block>
