<extend name="Public/base"/>

<block name="style">
    <link rel="stylesheet" href="__CSS__/BeatPicker.min.css"/>
    <link rel="stylesheet" href="__CSS__/newStyle.css"/>

    <!--   为了点击删除按钮时，有alert提示 ：而设置的script脚本          -->
    <script type="text/javascript" src="__JS__/changeDate.js"></script>
    <script type="text/javascript"></script>
    <style type="text/css">
        .toplabel{background: white none repeat scroll 0 0;
            font-size: 20px;
            height: 60px;
            line-height: 60px;
            padding-left: 35px;
            width:1000px
        }

        .accountUserManageTop{width: 900px;height: 40px;background-color: #1ccdd499;font-size: 20px;padding-left: 20px;margin-left: 30px;margin-top: 30px;color: white;border-radius: 5px;line-height: 40px;}
        .accountUserManageBottom{width: 1000px;background-color: white;margin-left: 30px;padding-bottom: 50px;overflow: hidden}
        .accountUserManageBottom button{border: 0;background-color: #fb1f1fb3;margin-top: 10px;border-radius: 5px;height: 30px;width: 100px;color: white;margin-left: 750px;}
        .accountUserManageBottom .user{margin-left: 30px;width: 290px;height: 210px;background-color: #FFFFFF;float: left;margin-top: 30px;}
        .accountUserManageBottom .user .left{width: 40%;height: 96%;margin-top: 2%;float: left;border-right: 2px solid rgb(224,224,224)}
        .accountUserManageBottom .user .left img{margin-left: 10px;margin-top: 5px;width: 10px}
        .accountUserManageBottom .user .left .head{margin-top: 10px;width: 48%;margin-left: 20px;}
        .accountUserManageBottom .user .left .name{text-align: left;margin-left: 15px;margin-top: 15px;color: #000000B3;font-weight: bold;font-size: 15px;}
        .accountUserManageBottom .user .left .branch{text-align: left;margin-left: 15px;margin-top: 10px;color: #000000B3;font-size: 15px;font-weight: bold;}
        .accountUserManageBottom .user .right{margin-left: 40%;height: 100%;overflow: hidden}
        .accountUserManageBottom .user .right img{margin-top: 2px;width: 20px}
        .accountUserManageBottom .user .right p{margin-left: 15%;margin-top: 7px;color: #41d7dd}

    </style>

</block>
<block name="body">

    <div class="toplabel">
        <div style="width:200px;float:left">
            <p>账户管理 &gt; <font color="#0099FF">&nbsp账户列表</font></p>
        </div>

        <div style="margin-left:280px;float:left;position: relative;
left: 375px;">
            <form name="form1" action="{:U('admin/Account/newuser')}">
                <button type="submit" style="background-color: #8ccd5a;border: 0 none;border-radius: 5px;color: white;height: 30px;width: 100px;line-height: 30px;cursor: pointer">添加新账户</button>
            </form>
        </div>

    </div>

    <div style="width: 980px;height: 40px;background-color: #FFFFFF;font-size: 20px;padding-left: 20px;margin-left: 30px;margin-top: 30px;color: #707070;border-radius: 5px;line-height: 40px;">
        账户管理
    </div>


    <div class="accountUserManageBottom">

        <volist name="user" id="item">
            <div class="user" style="border:solid 2px #E0E0E0">
                <div class="left">

                    <!--  添加鼠标的移入与 移出 -->
                    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
                    <script>
                        $(".user").mouseover(function(){
                            $(this).css('border','solid 2px #FF99FF');
                        })
                        $(".user").mouseout(function(){
                            $(this).css('border','solid 2px #E0E0E0');
                        })
                    </script>
                    <img src="__IMG__/head.png" class="head">
                    <p class="name">{$key}</p>
                    <p class="branch">{$item[0]}</p>
                </div>
                <div class="right">

                    <a href="{:U('admin/Account/updatenewuser',array('username'=>$key))}" >
                        <img  style="margin-left: 120px" src="__IMG__/编辑.svg">
                    </a>

                    <img  src="__IMG__/删除.svg" data-name="{$key}" onclick="display_alert(this)" style="cursor: pointer;margin-left: 1px;width: 27px;margin-top: -1px;">
                    <script type="text/javascript">
                        function display_alert(that){
                            var mymessage=confirm("你确定删除")       ;
                            if(mymessage==true) {
                                var name = $(that).attr("data-name")
                                window.location.href= '/admin/account-deluser?username=' + name
                            }else {
                            }
                        }

                    </script>



                    <br>
                    <volist name="item" id="project">
                        <gt name="key" value="0">
                            <p style="color:#707070">{$project}</p>
                        </gt>
                    </volist>
                </div>
            </div>
        </volist>

        <!--
        </form>
          -->

    </div>
</block>
<block name="script">
    <script><if condition="($Think.request.status neq '') OR ($Think.request.s_time neq '') OR ($Think.request.e_time neq '') ">toggel("reSearchM");<else />toggel("RCsearch");</if></script>
    <script src="__JS__/BeatPicker.min.js"></script>
    <script src="__JS__/changeDate.js"></script>
    <script type="text/javascript">
    </script>
</block>