.endTimeChrome{position: relative;left: 500px;top: -26px;}

.searchButtonChrome{position: relative;left: 500px;top: -27px;}

.firstPageFirstChrome{position: relative;top: -20px;}

.previewConfirmChrome{position: relative;top: -1px;}