/*reportInput.html页面*/
.nav{background: white;padding-left: 35px;height: 40px;line-height: 40px;font-size: 20px;}
.now{color: #01b6e1}
.step{height: 50px;background: white;margin-top: 8px;}

.step .step1{float: left;line-height: 50px;font-size: 16px;margin-left: 21px;width: 150px;height: 45px;text-align: center;  }
.step .step2{float: left;margin-left: 70px;color: #c7c6c6;border-bottom: 0px}
.step .border{border-bottom: 5px solid #01b6e1; }
.step .fontColor{color: #01b6e1}

.mainContent{margin-top: 1px;}
.mainContent .top{background-color: white;padding-top: 30px;height: 30px;border-radius: 5px;font-size: 16px;color: #918f8f;line-height: 30px;padding-left: 60px;}
.mainContent .bottom{background-color: white;padding-left: 20px;padding-top: 20px;padding-bottom: 30px}
.mainContent h2{color: #e15e6b;margin-bottom: 10px;margin-left: 41px;margin-top: 16px;font-size: 15px}
.mainContent h3{color: #e15e6b;display: inline-block;margin-left: 39px;margin-top: 38px;font-size: 15px}
.mainContent .date{width: 200px;border-bottom: 1px solid red;height: 20px;display: inline-block;text-align: center;font-size: 14px}
.mainContent .bottom button{border-radius: 5px;width: 100px;height: 30px;background-color: #f3f3f5;color: #acadb5;margin-left: 80px;border: 0px;cursor: pointer;}
.mainContent .bottom .otherDay{background: #eaeaec;color: white;margin-left: 50px}
body .cancelButton{cursor: pointer;width:98px;height:30px;font-size:16px;margin: 50px 60px 0px  260px;border-radius: 10px;border: 2px solid #8ccd5a;  background-color: white;  color: #8ccd5a;margin-bottom: 100px;}
body .cancelButtonRelative{position: relative;left: 100px;}
body .nextButton{background-color:  #8ccd5a;margin-left: 50px;color: white}
.rbrqxz form{background: white; min-width: 1000px;}

.txzhxx form{background: white}
.txzhxx .mainContent{position: relative}
.txzhxx .mainContent .bottom{padding-top: 0px}
.txzhxx .mainContent .bottom h2{display: inline-block;}
.txzhxx .mainContent .bottom input{background-color:white;border-radius: 2px;border: 2px solid #dfdfe0;width:160px}
.txzhxx .mainContent .bottom textarea{background-color: white;border-radius: 2px;border: 2px solid #dfdfe0;margin-top: 3px;vertical-align:top;wrap:"off"}
.txzhxx .mainContent .bottom .mL{margin-left: 250px} .mT{margin-top: 10px}
.txzhxx .mT{margin-top: 15px}
.txzhxx .mainContent .bottom .content{margin-bottom: 20px;margin-left: 40px}
.txzhxx .mainContent .bottom .content i{color: #e15e6b;margin-left: 10px;}
.txzhxx .mainContent .leftBar{width: 5px;position: absolute;top: 24px;}
.txzhxx .mainContent .bottom .content .backcolor{background-color: #f8f8fa}

.yljqr .mainContent .box h2{color: #262b46;width: 180px;height: 22px;background: #f2f5fa;line-height: 22px;text-align: center;margin-left: 35px}
.yljqr .mainContent {background-color: white}
.yljqr .content{padding-bottom: 50px}
.yljqr .mainContent .content table{width: 1085px;margin-left: 35px}
.yljqr .mainContent .content table thead{height: 30px;background: #e3ebf4;color: #717787;}
.yljqr .mainContent .content table tbody tr{height: 45px;color: #262b46}
.yljqr .mainContent .content table tbody tr:nth-child(odd){background: #f1f5f9;}
.yljqr .mainContent .content table tbody tr:nth-child(even){background: #e3ebf4;}
.yljqr form{background: white}
.yljqr canvas{ display: inline-block; background: #e3ebf4; position: relative;  left: -29px;  top: 5px;}
.yljqr th:nth-of-type(1){
    vertical-align: baseline;
}
.yljqr td:nth-of-type(1){
    text-align: center;
}
.yljqr td:nth-of-type(2),td:nth-of-type(3),td:nth-of-type(4),td:nth-of-type(5),td:nth-of-type(6){
    text-align: right;
}
.yljqr td:nth-of-type(7){
    text-align: center;
}
/* dailyPaper,html*/
.dailyPaperTop{line-height: 40px;width: 930px;height: 40px;background: white;border-radius: 5px;margin-top: 10px;font-size: 15px;color: #918f8f;font-weight: bold;padding-left: 30px;}
.dailyPaperYear{width: 960px;height: 50px;background: white;border-radius: 5px;position: relative;}
.dailyPaperYear p:nth-of-type(1) a{font-size: 28px;line-height: 50px;margin-left: 30px;color: gray;width: 100px;float: left;}
.dailyPaperYear p:nth-of-type(2){margin-left: 400px;font-size: 28px;color: #e36d78;line-height: 50px;width: 200px;text-align: center}
.dailyPaperYear .dateChoose{width: 200px;height: 200px;background: #9c787833;position: absolute;z-index: 1;top:50px;display: none;}
.dailyPaperYear .dateChoose .YearLeft{float: left;margin-top: 80px;cursor: pointer}
.dailyPaperYear .dateChoose .YearRight{float: right;margin-top: 80px;cursor: pointer}
.dailyPaperYear .dateChoose .yearChooseCenter{width: 153px;height: 150px;background-color: white;margin-left: 4px;margin-top: 30px;float: left}
.dailyPaperYear .dateChoose .yearChooseCenter .yearChooseCenterItem{cursor: pointer;opacity: 0.8; font-size: 20px;line-height: 50px;color: gray;width: 50px;height: 50px;background: red;border-right: 1px solid gray;border-bottom: 1px solid gray;float: left;}
.dailyPaperYear .dateYear{cursor: pointer}
.dailyPaperYear p:nth-child(1) a {color:#e36d78}
.dailyPaperYear .bcW{background-color: white}

.leftArrow{display: inline-block;float: left;margin-top: 10px;cursor: pointer}
.rightArrow{display: inline-block;float: right;margin-top: 10px;cursor: pointer}
.dailyPaperYear .splitLine{width: 930px;height: 30px;background: #f5f5f6;margin-left: 30px}
.dailyPaperYear .splitLine i{width: 128px;display: inline-block;height: 30px; line-height: 30px; font-size: 16px;text-align: center;font-weight: bold}
.dailyPaperYear .splitLine i:last-child,i:first-child{color: #b9b9b9}
.dailyPaperYear .date{width: 930px;background-color: white;padding-bottom: 50px;overflow: hidden;margin-left: 30px}
.dailyPaperYear .date .day{width: 132px;height: 90px;background-color: white;border-bottom: 1px solid #80747433;float: left;}
.dailyPaperYear .date .day button{cursor: pointer}

/*.dailyPaperYear .date > div:nth-child(7n+1){background-color: lightgray;}*/
/*.dailyPaperYear .date > div:nth-child(7n+7){background-color: lightgray;border-right: 0px}*/
.dailyPaperYear .date .day aside{text-align: center;margin-top: 5px;font-size: 20px;font-weight: bold;color: #262b46}
.dailyPaperYear .date .day .businessInput{border: 0px; width: 90%;background-color: white;color: #edaaaf;margin-top: 7px; margin-left: 8px;font-weight: bold;}
.dailyPaperYear .date .day .financeInput{border: 0px;width: 90%;margin-left: 8px;background-color: white;margin-top: 5px;color: #8dd5ed;font-weight: bold;}
/*lookReport.html*/
.yljqr .dailyLook{font-size: 18px;line-height: 50px;padding-left: 58px;color: #918f8f;}
.yljqr .mt{margin-top: 0px}
.yljqr .mainContent .top .date{width: 129px;position: relative;left: -25px;color: #e15e6b;font-weight: bold;border-bottom: 5px solid #e15e6b;height: 30px; }
/*userManage.html*/
.accountUserManageTop{width: 900px;height: 40px;background-color: #1ccdd499;font-size: 20px;padding-left: 20px;margin-left: 30px;margin-top: 30px;color: white;border-radius: 5px;line-height: 40px;}
.accountUserManageBottom{width: 920px;background-color: white;margin-left: 30px;padding-bottom: 50px;overflow: hidden}
.accountUserManageBottom button{border: 0;background-color: #fb1f1fb3;margin-top: 10px;border-radius: 5px;height: 30px;width: 100px;color: white;margin-left: 750px;}
.accountUserManageBottom .user{margin-left: 35px;width: 250px;height: 200px;background-color: #b3a5a51a;;float: left;margin-top: 30px;}
.accountUserManageBottom .user .left{width: 40%;border-right: 2px solid #5F4F4F4D;height: 96%;margin-top: 2%;float: left}
.accountUserManageBottom .user .left img{margin-left: 10px;margin-top: 5px;width: 10px}
.accountUserManageBottom .user .left .head{margin-top: 10px;width: 60%;margin-left: 20px;}
.accountUserManageBottom .user .left .name{text-align: center;margin-top: 20px;color: #000000B3;}
.accountUserManageBottom .user .left .branch{text-align: center;margin-top: 15px;font-size: 15px;font-weight: bold;}
.accountUserManageBottom .user .right{margin-left: 40%;height: 100%;overflow: hidden}
.accountUserManageBottom .user .right p{margin-left: 15%;margin-top: 7px;color: #41d7dd}
/* firstPage.html*/
.souye .box{width: 100%;height: 400px;background: white;padding-top: 20px;padding-left: 25px;}
.souye .mt{margin-top: 10px}
.souye .top{color: #262b46;height: 24px;position: relative}
.souye .top h2{width: 130px;float: left}
.souye .top .branch{height: 24px;margin-left: 94px;width: 100px;text-align: center;color: #918f8f}
.souye .top .branch1{margin-left: 50px;width: 140px;}
.souye .top ul{width: 100px;position: absolute;left: 225px;cursor: pointer;display: none;background: white;z-index: 1}
.souye .top ul li{height: 20px;line-height: 20px;color: #918f8f;text-align: center;}
.souye .time{margin-left: 52px;height: 24px;text-align: center;color: #918f8f}
.souye .timeML{margin-left: -50px}
.souye .chart{width: 850px;height: 350px;margin-top: 10px;}