/*reportInput.html页面*/

.txzhxx .mainContent .bottom h2{display: inline-block;border-bottom: 2px solid}
.txzhxx .mainContent .bottom input{background-color:#4a4a751a;border-radius: 2px;border: 1px solid #4a4a75e6;}
.txzhxx .mainContent .bottom textarea{background-color: #4a4a751a;border-radius: 2px;border: 1px solid #4a4a75e6;margin-top: 10px;vertical-align:top}
.txzhxx .mainContent .bottom .mL{margin-left: 200px} .mT{margin-top: 10px}
.txzhxx .mT{margin-top: 15px}
.txzhxx .mainContent .bottom .content{margin-bottom: 20px}

.yljqr .mainContent {background-color: white}
.yljqr .content{padding-bottom: 50px}
.yljqr .mainContent .content table{width: 800px; margin-left: 20px;margin-top: 30px;border-right:1px solid #625050;border-bottom:1px solid #625050;}
.yljqr .mainContent .content table thead th{font-weight: bold; border-left:1px solid #625050;height: 30px;background-color: #13b1e699;text-align: left;color: white;padding-left: 10px}
.yljqr .mainContent .content table td{border-left:1px solid #625050;border-top:1px solid #625050}
.yljqr .mainContent .content table tr:first-child{font-weight: bold;text-align: center}
.yljqr .mainContent .content table tbody .tR{text-align: right}
.yljqr .mainContent .content table tr th{font-weight: bold;border-left:1px solid #625050;border-top:1px solid #625050}
.yljqr .mainContent .content table tr{height: 25px}
.yljqr .mainContent .content .mT{margin-top: 0px}
.yljqr .mainContent .content .borderT{border-top: 0px}
/*userManage.html*/
.accountUserManageTop{width: 900px;height: 40px;background-color: #1ccdd499;font-size: 20px;padding-left: 20px;margin-left: 30px;margin-top: 30px;color: white;border-radius: 5px;line-height: 40px;}
.accountUserManageBottom{width: 920px;background-color: white;margin-left: 30px;padding-bottom: 50px;overflow: hidden}
.accountUserManageBottom button{border: 0;background-color: #fb1f1fb3;margin-top: 10px;border-radius: 5px;height: 30px;width: 100px;color: white;margin-left: 750px;}
.accountUserManageBottom .user{margin-left: 35px;width: 250px;height: 200px;background-color: #b3a5a51a;;float: left;margin-top: 30px;}
.accountUserManageBottom .user .left{width: 40%;border-right: 2px solid #5F4F4F4D;height: 96%;margin-top: 2%;float: left}
.accountUserManageBottom .user .left img{margin-left: 10px;margin-top: 5px;width: 10px}
.accountUserManageBottom .user .left .head{margin-top: 10px;width: 60%;margin-left: 20px;}
.accountUserManageBottom .user .left .name{text-align: center;margin-top: 20px;color: #000000B3;}
.accountUserManageBottom .user .left .branch{text-align: center;margin-top: 15px;font-size: 15px;font-weight: bold;}
.accountUserManageBottom .user .right{margin-left: 40%;height: 100%;overflow: hidden}
.accountUserManageBottom .user .right p{margin-left: 15%;margin-top: 7px;color: #41d7dd}