<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>源庐资产管理系统 V{$Think.THINK_VERSION} | 源庐</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <script src="__JS__/jquery-1.11.0.min.js"></script>
    <block name="style"></block>
</head>

<body>
<div class="wrap">
    <div class="platLeft">
        <div class="platLogo"><a ><img src="__IMG__/platLogo.png"></a></div>
        <ul class="platNav">
            <li <if condition="CONTROLLER_NAME=='Report'">class="active arrowDown"</if>>
            <i class="icon icon6"></i>日报录入<i class="arrow"></i>
            <ul class="childLi">
                <if condition="session('admin')['power'] gt 2">
                    <li <if condition="CONTROLLER_NAME=='Report' AND ACTION_NAME=='showdata'">class="now"</if>><a href="{:U('admin/report/showData')}">银行数据呈现</a></li>
                    <li <if condition="CONTROLLER_NAME=='Report' AND ACTION_NAME=='linechart'">class="now"</if>><a href="{:U('admin/report/linechart')}">折线图</a></li>

                    <elseif condition="session('admin')['power'] eq 2"/>
                        <li <if condition="CONTROLLER_NAME=='Report' AND ACTION_NAME=='bank'">class="now"</if>><a href="{:U('admin/report/bank')}">银行数据录入</a></li>
                        <li <if condition="CONTROLLER_NAME=='Report' AND ACTION_NAME=='rate'">class="now"</if>><a href="{:U('admin/report/rate')}">汇率录入</a></li>
                        <li <if condition="CONTROLLER_NAME=='Report' AND ACTION_NAME=='workingcapital'">class="now"</if>><a href="{:U('admin/report/workingcapital')}">运营资金输入</a></li>
                        <li <if condition="CONTROLLER_NAME=='Report' AND ACTION_NAME=='showdata'">class="now"</if>><a href="{:U('admin/report/showData')}">银行数据呈现</a></li>
                    <elseif condition="session('admin')['power'] eq 1"/>
                        <li <if condition="CONTROLLER_NAME=='Report' AND ACTION_NAME=='index'">class="now"</if>><a href="{:U('admin/report/index')}">现货期货录入</a></li>
                        <li <if condition="CONTROLLER_NAME=='Report' AND ACTION_NAME=='showdata'">class="now"</if>><a href="{:U('admin/report/showData')}">银行数据呈现</a></li>

                </if>

            </ul>
            </li>

            <li <if condition="CONTROLLER_NAME=='Account'">class="active arrowDown"</if>>
            <i class="icon icon6"></i>账户管理<i class="arrow"></i>
            <ul class="childLi">
                <li <if condition="CONTROLLER_NAME=='Account' AND ACTION_NAME=='index'">class="now"</if>><a href="{:U('admin/account/index')}">账户管理</a></li>
                <li <if condition="CONTROLLER_NAME=='Account' AND ACTION_NAME=='index2'">class="now"</if>><a href="{:U('admin/account/index2')}">账户呈现</a></li>

            </ul>
            </li>
        </ul>
    </div>

    <div class="platRight">
        <div class="platTop">
            <div class="Tit">源庐资产管理系统</div>
            <div class="TopR">
                {$Think.const.NOW_TIME|date='Y-m-d',###} {:formatWeek(date('w'))}<a href="{:U('admin/index/logout')}">退出</a>
            </div>
        </div>
        <block name="body"></block>
    </div>
</div>
<script type="text/javascript" src="__JS__/platform.js"></script>
<script>
    $('.sort > a').click(function(){
        var link  = window.location.href.toString();
        var type  = $(this).parent().attr('type');
        var order = $(this).attr('class').split(' ')[0];
        link = link.replace(/([?&-]type[=-])([^&-]*)/gi,"$1"+type);
        link = link.replace(/([?&-]order[=-])([^&-]*)/gi,"$1"+order);
        if(link.match(/[?&-]order[=-]/)==null){
            link += (link.indexOf('?') == -1 ? '?' : '&') + "type="+type+"&order="+order;
        }
        window.location.href = link;
    });
</script>
<block name="script"></block>
</body>
</html>
